
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.budget_getter{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border: 1px solid #f94b4b;
    box-shadow: 0px 0px 30px #000000;
    gap: 20px;
}

.inner_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.budget_get{
    background: #3a3939;
    color: #fff;
    padding: 7px 10px;
}

.inner_container{
    width: 600px;
    /* height: 400px; */
    background: #5e5e5e;
    border-radius: 5px;
}

.inputs{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #979797;
    border-radius: 5px 5px 0px 0px;
}

input[type='text']{
    padding: 5px;
}

input[type='number']{
    padding: 5px;
    width: 100px;
}

button{
    padding: 5px ;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.add{
    padding: 5px 10px;
    color: #fff;
    background: #ff4500;
}

.clear{
    padding: 5px 10px;
    color: #000;
    background: orange;
}

.display{
    /* position: absolute; */
    width: 100%;
    /* height: 87%; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* background: #ff440028; */
}

.main_budget{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 22px;
    color: #01e9ce;
}

.list_items {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

li{
    width: 100%;
    padding: 5px 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3px;
}

    
.delete{
        padding: 5px ;
        background: orange;
        border: none;
        border-radius: 3px;
        flex-basis: 20%;
        width: 100%;
        height: 100%;
        /* background-image: url(/img/images.png);
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: center; */
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
}
    
li input[type = 'checkbox']{
        flex-basis: 10%;
        accent-color: orange;
        text-decoration: none;
        cursor: pointer;
}
li label{
        flex-basis: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
}
    
input[type = 'checkbox'].active  {
       
        accent-color: red;
}
    
    li.active{
        background: #3a3939;
        color: #fff;
        text-decoration: line-through;
    }
    li.active input[type = 'checkbox']{
        accent-color: #ff0000;
    }

.expence{
    color: #ff0000;
    text-transform: capitalize;
}

.cost{
    color: #008000;
}

.total_of_all{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #b4b4b4;
    padding: 20px 0px;
    border-radius:0px 0px 5px 5px;
}

.budget{
    flex-basis: 32%;
    display: flex;
    gap: 10px;
}

.total_cost{
    flex-basis: 32%;
    display: flex;
    gap: 10px;
}

.extra_expence{
    flex-basis: 32%;
    display: flex;
    gap: 10px;
}
#main_title{
    text-transform: capitalize;
    color: #f94b4b;
}

@media screen and (max-width:425px) {
    .budget_getter {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: #fff;
        border: 1px solid #f94b4b;
        box-shadow: 0px 0px 30px #000000;
        gap: 20px;
        /* scale: 0; */
    }

    .inner_container {
        top: 50px;
        position: fixed;
        width: 340px;
        /* height: 400px; */
        background: #5e5e5e;
        border-radius: 5px;
    }

    .inputs {
    width: 100%;
    height: 85px;
    flex-wrap: wrap;
    display: flex;
    grid-column-gap: revert;
    align-items: stretch;
    justify-content: space-evenly;
    background: #979797;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    column-gap: 5px;
    row-gap: 10px;
}

    .total_of_all {
        width: 340px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        background: #b4b4b4;
        padding: 20px 0px;
        border-radius: 0px 0px 5px 5px;
        row-gap: 10px;
    }

    .budget {
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 10px;
    }
    .total_cost {
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 10px;
    }
    .extra_expence {
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 10px;
    }
li{
    width: 100%;
    padding: 5px 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3px;
    font-size;10px
}


}
 
